

<div class="span9">

   <%= form_for @trip, :html => { :multipart => true } do |f| %>
  
  

  
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  
    <%= f.label :price %><br />
    <%= f.text_field :price %>
      
  
  <div class="checkpoints">
  	<h2> Location: </h2>  
  
   <%= f.label :location_id %><br />
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  
    <%= f.label :continent_id %><br />
    <%= f.collection_select :continent_id, Continent.all, :id, :name %>
    
    <%= f.label :budget_id %><br />
    <%= f.collection_select :budget_id, Budget.all, :id, :name %>
  
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  
   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :latitude %>
  </div>
  
   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :longitude %>
  </div>
  
  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </div>
    
  <div class="field">
    <%= f.label :spot %><br />
    <%= f.text_field :spot %>
  </div>
  
  </div>
   
   <h2> Category: </h2> 
   
   <% Category.all.each do |category| %>
     <%= check_box_tag "trip[category_ids][]", category.id, @trip.category_ids.include?(category.id) %>
     <%= category.name %>
    <% end %>
   
    <h2> Type: </h2> 
  
   <% Type.all.each do |type| %>
     <%= check_box_tag "trip[type_ids][]", type.id, @trip.type_ids.include?(type.id) %>
     <%= type.name %>
    <% end %>
  
    
   <h5> Details & amneties </h5>
   <% Detail.all.each do |detail| %>
    
    <ul>
    
   <li> <small> <%= check_box_tag "trip[detail_ids][]", detail.id, @trip.detail_ids.include?(detail.id) %>
     <%= detail.name %> </small> </li>
    
    </ul>
    
    <% end %>
  

  
  
  
   <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  
  <div class="field">
    <%= f.label :rooms %><br />
    <%= f.text_field :rooms %>
  </div>
  
  
   <div class="checkpoints">  
    <h2>Basic stay includes: </h2>
  <%= f.fields_for :accomodations, :accomodations do |accomodation_fields| %>

  <ul>
    
  <li>  <%= accomodation_fields.text_field :name %> </li>
    <%= accomodation_fields.check_box :_destroy %>
    <%= accomodation_fields.label :_destroy, "Remove" %>
  </ul>  
<% end %>
       
   
  
   <h2>Services you can get here:</h2>
  <%= f.fields_for :packages, :packages do |package_fields| %>

  <ul>
   
  <li>  <%= package_fields.text_field :name %> </li>
    <%= package_fields.check_box :_destroy %>
    <%= package_fields.label :_destroy, "Remove" %>
  </ul>
     
<% end %>
    
      
      
   
  
   <h2>Can arrange extra for you: </h2>
  <%= f.fields_for :lessons, :lessons do |lesson_fields| %>

  <ul>
   
  <li>  <%= lesson_fields.text_field :name %> </li>
    <%= lesson_fields.check_box :_destroy %>
    <%= lesson_fields.label :_destroy, "Remove" %>
  </ul> 
  <% end %>
   
   
   </div>
 
   
   <br></br>
   
   <div class="field">
    <%= f.label :season %><br />
    <%= f.text_field :season %>
  </div>
  
  <div class="field">
    <%= f.label :important %><br />
    <%= f.text_field :important %>
  </div>
   
           
 
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
 

  
  <h4>New Files</h4>
  
  <%= f.fields_for :images do |image_fields| %>
 
  <% if image_fields.object.new_record? %>
 
  <p>
  <%= image_fields.file_field :image %>
  
  <% end %> 

<% end %>
   
  <h4>Old Files</h4>
    
  <%= f.fields_for :images do |image_fields| %>
  
  <% unless image_fields.object.new_record? %>
  
     <p>
     <%= link_to image_tag(image_fields.object.image.url(:thumb)), image_fields.object.image.url(:original) %>
      <%= image_fields.label :title, "Image Title" %>
<%= image_fields.text_field :title %>
     <%= image_fields.check_box :_destroy %>
     </p>
   <% end %>
  
  <% end %>
  
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %><br />
    
  </div>
  
  <div class="field">
    <%= f.label :vimeo %><br />
    <%= f.text_field :vimeo %><br />
    
  </div>
  
  <div class="field">
    <%= f.label :youtube %><br />
    <%= f.text_field :youtube %><br />
    
  </div>
  
  
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %><br />
    
  </div>
  
   <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %><br />
    
  </div>
  
  
  <div class="acc">
  
   <h2>Reviews</h2>
  <%= f.fields_for :reviews, :reviews do |review_fields| %>

<div class="field">
    <%= review_fields.label :content %><br />
    <%= review_fields.text_area :content %>
  </div>

  <div class="field">
    <%= review_fields.label :review_name %><br />
    <%= review_fields.text_field :name %>
    <%= review_fields.check_box :_destroy %>
    <%= review_fields.label :_destroy, "Remove" %>
  </div>
  
 
<% end %>
    </div>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


</div>