<header class="jumbotron subhead" id="overview">
  
  <div class="headline3">
   
  
  
  
              <div class="headline">    
                <h1> <%= link_to "Surf Tours Nicaragua", 'http://www.thrillengine.com/trips/surf-tours-nicaragua' %> </h1>
                <h3> Quality waves, strong local knowledge and hassel free surf holidays in Nicaragua.From $810 </h3>  
              </div>
  
   </div>

 
 </header> 
 
 
 
  <div class="border">    
   
         <div class="search">
         <ul>                        
             <%= form_for @search do |f| %> 
                                 
                                                 
                <li class="droper">   <%= f.collection_select :categories_id_equals, Category.all, :id, :name, :include_blank => true, :prompt => " What do you want to do?"  %>  </li> 
                
                <li class="droper">  <%= f.collection_select :location_id_equals, Location.order('country ASC').all, :id, :name, :include_blank => true, :prompt => "Where?" %>    </li>                
                                   
                 <li class="droper">  <%= f.collection_select :budget_id_in, Budget.all, :id, :name, :include_blank => true, :prompt => "Your Budget?" %>    </li>                
                               
                <li class="droper">  <%= submit_tag "Find", :class => "btn btn-primary btn-large" %> </li>
      	
           <% end %>
         </ul>
         </div>
    
   
    
    
  
   <div style="clear:both;"></div>
 
      

<br></br>    
    
    <% for trip in @trips %>
   
  
    <div class="span6">
      <ul class="thumbnails">
        <li class="span6">
          <div class="trip">
             <div class="caption">
             <% if signed_in? %>
              <%= button_to "delete", trip, :method=>:delete, :class=>:destroy %>
             <% end %>
              <h3><%= link_to trip.title, trip %> </h3>
              <p> <small> <%= trip.categories.map(&:name).to_sentence %> <%= trip.types.map(&:name).to_sentence %>  in <%= trip.location %> </small>  </p>
             
             <div class="price">        
             <h5>    <%= trip.price %>  </h5>
             
            </div>
          </div>
    
             <% medium_url = trip.medium_url %>
    	       <% if medium_url %>
    	       <%= image_tag medium_url %>
             <% end %>           
        </li>        
      </ul>
    </div>
   
   <% end %>
  
     
    <div style="clear:both;"></div>
    
   

 </div>
 
 <br></br>
 
 
 
 <div class="pg">
 <%= will_paginate%>
 </div>
   	
  <% if signed_in? %>   
   <%= link_to 'New Trip', new_trip_path %>
   <% end %> 
  	

  

