<header class="jumbotron subhead" id="overview">
  
    
  
  <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">              
              
              <div class="item active">
                <%= image_tag("srfsld2.jpg") %>               
                <div class="carousel-caption2">
                <p> <strong> <a href="categories/1">Surfing</a> </strong> </p>                  
                </div>
              </div>
              <div class="item">
                 <%= image_tag("ktsld4.jpg") %>                
                 <div class="carousel-caption2">
                <p> <strong> <a href="categories/3">Kiteboarding</a>  </strong> </p>           
                 </div>
              </div>
              <div class="item">
                <%= image_tag("snbsldl3.jpg") %>                
                <div class="carousel-caption2">
               <p> <strong> <a href="categories/2">Snowboarding/Ski</a> </strong> </p>               
                </div>
              </div>
            </div>
            <a class="left carousel-control2" href="#myCarousel" data-slide="prev"></a>
            <a class="right carousel-control2" href="#myCarousel" data-slide="next"></a>          
          </div>
  
              <div class="headline">    
                <h1> Epic Holidays  </h1>  
                <p class="lead"> Find the Right Place to Go for Your Next Adventure </p>  
              </div>
  
   

 
 </header> 
 
 
 
  <div class="border">    
   
         <ul>                        
             <%= form_for @search do |f| %>             
                                                 
                <li class="droper">  <%= f.collection_select :location_id_equals, Location.order('country ASC').all, :id, :name, :include_blank => true, :prompt => "All locations" %>    </li>                

                <li class="droper">   <%= f.collection_select :categories_id_equals, Category.all, :id, :name, :include_blank => true, :prompt => "All categories"  %>  </li>     
                
                 <li class="droper">  <%= f.collection_select :budget_id_in, Budget.all, :id, :name, :include_blank => true, :prompt => "All budgets" %>    </li>                

                 <li class="droper">  <%= f.collection_select :types_id_equals, Type.all, :id, :name, :include_blank => true, :prompt => "All Types" %>    </li>
                
                <li class="droper">  <%= submit_tag "Find", :class => "btn btn-primary btn-large" %> </li>
      	
           <% end %>
         </ul>
  
    
   
    
    
  
   <div style="clear:both;"></div>
 
      

<br></br>    
    
    <% for trip in @trips %>
   
  
    <div class="span6">
      <ul class="thumbnails">
        <li class="span6">
          <div class="trip">
             <div class="caption">
             <% if signed_in? %>
              <%= button_to "delete", trip, :method=>:delete, :class=>:destroy %>
             <% end %>
              <h3><%= link_to trip.title, trip %> </h3>
              <p><%= trip.location %>  </p>
             <div class="price">        
             <p class="pull-right">  <h3> <%= trip.price %> </h3> /week  </p>
             
            </div>
          </div>
    
             <% medium_url = trip.medium_url %>
    	       <% if medium_url %>
    	       <%= image_tag medium_url %>
             <% end %>           
        </li>        
      </ul>
    </div>
   
   <% end %>
  
     
    <div style="clear:both;"></div>
    
   

 </div>
 
 <br></br>
 
 
 
 <div class="pg">
 <%= will_paginate%>
 </div>
   	
  <% if signed_in? %>   
   <%= link_to 'New Trip', new_trip_path %>
   <% end %> 
  	
<br></br>

<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	
	#mc_embed_signup input.email {
display: block;
padding: 6px 0;
margin: 0 4% 15px 0;
text-indent: 5px;
width: 58%;
min-width: 268px;
margin-left: 6px;
line-height: 14px;
border-radius: 3px;
}
		
#mc_embed_signup label {
display: block;
font-size: 18px;
padding-bottom: 5px;
font-weight: bold;
margin-top: 5px;
margin-right: 10px;
color:white;
}	
	
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://thrillengine.us4.list-manage.com/subscribe/post?u=b00a6ce905026bcb1bfd68811&amp;id=ffa803ed98" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <ul>
  	
	<li> <label for="mce-EMAIL">Join the list and get exclusive updates</label> </li>
	<li> <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required > </li>
	<li> <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> </li>
 
 </ul>
    
</form>
</div>

<!--End mc_embed_signup-->

  


