<div class="tripshow">


 
   <h2> <%= @trip.title %> </h2>



<ul class="location">
    
  <li>
    <%= @trip.location %> / <span class="divider"></span>
  </li>
  
   <li>  
  	<%= @trip.categories.map(&:name).to_sentence %> / <span class="divider"></li>
 </li>
  
  <li>  
  	<%= @trip.types.map(&:name).to_sentence %>  <span class="divider"></li>
 </ul>



<br></br>

 <div class="price1"> 
        
        <h3> <small> Weekly Price Range:  </small>  </h3>
        <h3> <%= @trip.price %>  </h3>
                
        <h6> <small> *price depends on: dates, number of people, type of rooms and services you need* </small> </h6>
       
        <h5> Running period: <small> <%= @trip.season %> </small> </h5>
        
        
        <h3> <small> (no hidden costs, credit card charges or booking fees) </small> </h3>
        
        
       
        <div class="booking">
  	 	   <a class="book_button" data-toggle="modal" href="#myModal" >Check Your Price and Availability </a> 	 	                                
        </div>
 </div>
 

 
 
 <div class="tripcard">
 
<div class="row">
  <div class="span6">   
    <div id="galleria">
     <% for image in @trip.images %>	
	 <%= link_to image_tag(image.image.url(:thumb)), image.image.url(:large), :alt => image.title %> 	
	 <span class="desc" style=""> <%= image.title %> </span>
	 <% end %>
    </div>
    <script>
        
                   
        Galleria.run('#galleria', {
    dataConfig: function(img) {
        return {
            description: $(img).parent().next('.desc').html()
        };
    }
    
             
});
        Galleria.configure({
             
             _toggleInfo: false,
             showInfo:true,
            maxScaleRatio: 1.1,
            minScaleRatio: 1.1,
             
       
       });
       
   
      
       
    </script>
   </div>
  </div>
  
  






</div>



<br></br>



<div class="row-fluid">
   <div class="span8">
     <ul class="nav nav-tabs">
       <li><a href="#description" data-toggle="tab">Description</a>     </li>      
       <li><a href="#amenities" data-toggle="tab">Amenities</a></li>
     </ul>


     <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="description">
            </div>
            <div class="tab-pane fade" id="amenities">
              <% @trip.details.each do |detail| %>
               <ul>
             	<li><%=detail.name %> </li>
             </ul>
              <% end %>  
            </div>	                       
          </div>
     
      
      <p> <strong> Description: </strong> <small> <%= @trip.description %> </small> </p>
      <p> <strong> Location: </strong> <small> <%= @trip.spot %> </small> </p>  
      <p> <strong> Rooms: </strong> <small> <%= @trip.rooms %> </small>  </p> 
      
               
        
        <% if @trip.youtube.present? %>
     
     
     <iframe width="530" height="330" src="<%= @trip.youtube %>" frameborder="0" allowfullscreen></iframe>
     <br></br>
     <% end %>


     <% if @trip.vimeo.present? %>
  
     
     <iframe src="<%= @trip.vimeo %>" width="530" height="330" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
     <br></br>
     <% end %>
      
      
      <p> <strong> Basic stay includes: </strong>   </p>    
      
    <div class="list"> 
     
      <% for accomodation in @trip.accomodations %>
                 <ul>        
                   <li>  <small> <%= accomodation.name %> </small>  </li>
                  </ul>              
                <% end %>   
     
       
       
       <% if @trip.packages.present? %>
      
    <p> <strong> Services you can get here: </strong> </p>
                             
              <% for package in @trip.packages %>
                                           
                 <ul>
                  <li>  <small> <%= package.name %> </small>  </li>                  
                 </ul>
                
             <% end %>    
     
         <% end %>
     
     <p> <strong> Can arrange extra for you: </strong> </p>
     
               <% for lesson in @trip.lessons %>
                 <ul>
                  <li>  <small> <%= lesson.name %> </small>  </li>
                  
                 </ul>
                <% end %>

     </div>

   
 

<br></br>

<% if signed_in? %>

<%= link_to 'Edit', edit_trip_path(@trip) %>

<% end %>

   </div> 
 
   <div class="span4">    
     <div class="tripside">   
     	
     	

     	
     
     <% if @trip.url.present? %>
    <p> <%= link_to "Visit Website", (@trip.url) %> </p>
    
     <% end %>
     

     
     <strong> Address: </strong> <%= @trip.address %>
     
     <%= gmaps( 
	:markers => { :data => @json }, 
	:map_options => { :auto_adjust => true, # :auto_adjust map to center on location
			  :auto_zoom => false, 	# :auto_zoom defaults to full zoom in, set to false to utilize :zoom
			  :zoom => 4 }		# :zoom 0 is fully zoomed out (world view), 21 is fully zoomed in (street view)
) %>


<br></br>

    

    
     ....
    <h3> <strong> Why this place ?: </strong> </h3>
   

             <% for review in @trip.reviews %>  
            <ul>
               <li> <i> <h4> <%= review.content %> <h4> </i> </li>
               <li> <i> <%= review.name %> </i> </li>
            </ul>
              <% end %> 



<br></br>
       </div>
   </div>
</div>
<a class="book_button" data-toggle="modal" href="#myModal" >Check Your Price and Availability</a>



</div>

  

<div id="myModal" class="modal hide fade" style="display: none; ">
            
        
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Contact - <%= @trip.title %> </h3>
            </div>
            <div class="modal-body">
              
              <%= form_for([@trip, @trip.messages.build]) do |f| %> 
              
              <form class="form-horizontal">
          <fieldset>
 	        
  
 
  <div class="control-group">
    <div class="controls">
    <p> <strong>	What's your name ? </strong> </p>
    <%= f.text_field :name, :class => "span3" %>
    <p> <strong>	What's your e-mail ? </strong> </p>
    <%= f.text_field :email, :class => "span3", :placeholder => "Email:" %>
  </div>
 </div>
    
  
  <div class="h"> 
  <div class="control-group">
    <div class="controls">
     
     <%= f.text_field :subject, :class => "h", :value => (@trip.title) %>
    </div>
  </div>
 </div> 
  
  <div class="control-group">
    <div class="controls">
    	<p> <strong>	When are you going ? </strong> </p>     
    <%= f.text_field :startdate, :class => "span3", :placeholder => "Startdate:" %>
      </div>
  </div>
  
  <div class="control-group">
    <div class="controls">      
    <%= f.text_field :enddate, :class => "span3", :placeholder => "Enddate:" %>
      </div>
  </div>
  
  <div class="control-group">
    <div class="controls">      
     	<p> <strong>	How many people? </strong> </p>  
     <%= f.text_field :adult, :class => "span3", :placeholder => "Adults:1" %>
      </div>
  </div>
 
  <div class="control-group">
    <div class="controls">      
     <%= f.text_field :children, :class => "span3", :placeholder => "Children:0" %>
      </div>
  </div>
  
  <p> <strong>  What else do you need ? (e.g. lessons, rentals, food and etc.) </strong> </p> 
 
  
  <div class="control-group">
    <div class="controls">
     <%= f.text_area :body, :class => "span3", :placeholder => "Message:", :id => "textarea", :rows => "3", :rel => "popover", :data => "Ask for availibility "  %>
  </div>
 </div> 
  
  
 <div class="control-group">
 	<div class="controls">    
   <%= f.submit :class => " btn btn-primary btn-large ", :value => "Send Message" %>
    </div>
 </div>
  
<% end %>
  

</div>
  </fieldset>
 </form> 
               
      
            
            <div class="modal-footer">                            
              
             
              <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
          </div>






