

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_counter_style" style="left:50px;top:50px;">
<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
<a class="addthis_button_tweet" tw:count="vertical"></a>
<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
<a class="addthis_counter"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ee21e93142c5a95"></script>
<!-- AddThis Button END -->


<div class="tripshow">


 
   <h2> <%= @trip.headline %> </h2>

   <h3> <small> by </small> <%= @trip.title %> </h3>



<ul class="location">
    
  <li>
    <%= @trip.location %> / <span class="divider"></span>
  </li>
  
   <li>  
  	<%= @trip.categories.map(&:name).to_sentence %> / <span class="divider"></li>
 </li>
  
  <li>  
  	<%= @trip.types.map(&:name).to_sentence %>  <span class="divider"></li>
 </ul>
 
 <br></br>
 

 <div class="price1"> 
        
        <h3> <small> Weekly Prices from:  </small>  </h3>
        <h3> <big> <%= @trip.price %> </big> <strike> <%= @trip.oldprice %> </strike>  </h3>
                         
        
       
        <div class="booking">
  	 	     	 	     	 	     	 	   
  	 	   <%= link_to "BOOK NOW", trip_messages_path(@trip), :class => 'book_button'  %>
  	 	     	 	    	 	    	 	                                
        </div>
        
         <h6> <small> *No hidden costs, no booking fees* </small> </h6>
         
            
        
 </div>
 

 
 
 <div class="tripcard">
 
<div class="row">
  <div class="span6">   
    <div id="galleria">
     <% for image in @trip.images %>	
	 <%= link_to image_tag(image.image.url(:thumb)), image.image.url(:large), :alt => image.title %> 	
	 <span class="desc" style=""> <%= image.title %> </span>
	 <% end %>
    </div>
    <script>
        
                   
        Galleria.run('#galleria', {
    dataConfig: function(img) {
        return {
            description: $(img).parent().next('.desc').html()
        };
    }
    
             
});
        Galleria.configure({
             
             _toggleInfo: false,
             showInfo:true, 
            maxScaleRatio: 1.2,
            minScaleRatio: 1.2,
             
       
       });
       
   
      
       
    </script>
   </div>
  </div>
  
  






</div>



<br></br>



<div class="row-fluid">
   <div class="span8">
     
     
      
      <p>  <%= raw @trip.description %> </p>
     
      <% if @trip.packages.present? %>
      <p> <strong> Location: </strong> <small> <%= @trip.spot %> </small> </p>  
      <% end %>
      
      <% if @trip.packages.present? %>
      <p> <strong> Rooms: </strong> <small> <%= @trip.rooms %> </small>  </p> 
      <% end %>
               
        
        <% if @trip.youtube.present? %>
     
     
     <iframe width="530" height="330" src="<%= @trip.youtube %>" frameborder="0" allowfullscreen></iframe>
     <br></br>
     <% end %>


     <% if @trip.vimeo.present? %>
  
     
     <iframe src="<%= @trip.vimeo %>" width="530" height="330" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
     <br></br>
     <% end %>
      
      <% if @trip.packages.present? %>
      
      <p> <strong> Basic stay includes: </strong>   </p>    
      
    <div class="list"> 
     
      <% for accomodation in @trip.accomodations %>
                 <ul>        
                   <li>  <small> <%= accomodation.name %> </small>  </li>
                  </ul>              
                <% end %>   
     
        <% end %>  
       
       <% if @trip.packages.present? %>
      
    <p> <strong> Services you can get here: </strong> </p>
                             
              <% for package in @trip.packages %>
                                           
                 <ul>
                  <li>  <small> <%= package.name %> </small>  </li>                  
                 </ul>
                
             <% end %>    
     
         <% end %>
     
       <% if @trip.lessons.present? %>
     
     <p> <strong> Can arrange extra for you: </strong> </p>
     
               <% for lesson in @trip.lessons %>
                 <ul>
                  <li>  <small> <%= lesson.name %> </small>  </li>
                  
                 </ul>
                <% end %>

     </div>

       <% end %>
 

<br></br>

<% if signed_in? %>

<%= link_to 'Edit', edit_trip_path(@trip) %>

<% end %>

   </div> 
 
   <div class="span4">    
     <div class="tripside">   
     	
     	

     	
     
    
     

     
     <strong> Address: </strong> <%= @trip.address %>
     
     <%= gmaps( 
	:markers => { :data => @json }, 
	:map_options => { :auto_adjust => true, # :auto_adjust map to center on location
			  :auto_zoom => false, 	# :auto_zoom defaults to full zoom in, set to false to utilize :zoom
			  :zoom => 4 }		# :zoom 0 is fully zoomed out (world view), 21 is fully zoomed in (street view)
) %>


<br></br>

    

    
     ....
    <h5> REVIEWS <%= image_tag("str.png") %> </h5>
   

             <% for review in @trip.reviews %>  
            <ul>
               <li> <i> <h3> <small> <%= review.content %> </small> <h3> </i> </li>
               <li> <i> <%= review.name %> </i> </li>
            </ul>
              <% end %> 



<br></br>

<div class="sidescribe">   

<h3> <strong> Get Notified </strong> About the Next Trip! </h3>

<a href="http://eepurl.com/hhA2A" class="btn btn-primary btn-large">SUBSCRIBE NOW</a>

</div>
       </div>
   </div>
   
</div>
<%= link_to "BOOK NOW", trip_messages_path(@trip), :class => 'book_button'  %>



</div>

  


          </div>


<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Hey there!</h3>
  </div>
  <div class="modal-body">
  <h1> GET CURATED ADVENTURES RIGHT IN YOUR INBOX </h1>
 
<a href="http://eepurl.com/hhA2A" class="btn btn-large btn-block btn-primary" type="button"> Subscribe For the Free Newsletter  </a>

  </div>
  
</div>

<script type="text/javascript">
    $(window).load(function(){
       if($.cookie('msg') == null)
            {
                $('#myModal').modal('show');
                $.cookie('msg', 'str');
            }
            else
            {
                $("div#myModal.modal").css('display','none');
            }


        });
</script>


