


<form class="form-horizontal">
          <fieldset>
 	  
 	  
 	  
 	<%= form_for([@trip, @trip.messages.build]) do |f| %>
 
  
 
  <div class="control-group">  	
    <div class="controls">
    <%= f.text_field :name, :class => "span3", :placeholder => "Name:" %>
     <%= f.text_field :email, :class => "span3", :placeholder => "Email:" %>
  </div>
 </div>
     
  
  <div class="control-group">
    <div class="controls">
      <div class="h"> 
     <%= f.text_field :subject, :class => "h", :value => (@trip.title) %>
      </div>
  </div>
 </div> 
  
  <div class="control-group">
    <div class="controls">
     <%= f.text_area :body, :class => "input-xlarge3", :placeholder => "Message:", :id => "textarea", :rows => "3" %>
  </div>
 </div> 
  

  
 
 
 <div class="control-group">
 	<div class="controls">    
   <%= f.submit :class => " btn btn-primary btn-large ", :value => "Send Message" %>
    </div>
 </div>
  
<% end %>

  <div class="control-group">
 	<div class="controls">    
    <%= link_to "Visit Website", (@trip.url) %>
    </div>
 </div>

</div>
  </fieldset>
 </form> 
