
<p> <b> Reserve Online: </b> </p>
 	
 	<%= form_for([@trip, @trip.messages.build]) do |f| %>
 	
 	<%= render 'shared/error_messages', object: f.object %>
  
    <%= f.text_field :name, :class => "span3", :placeholder => "Name:" %>
 
  
   
    <%= f.text_field :email, :class => "span3", :placeholder => "Email:" %>
   
   <div class="h"> 
   
    <%= f.text_field :subject, :class => "h", :value => (@trip.title) %>
   
   </div>  
   
    <%= f.text_area :body, :class => "input-xlarge3", :placeholder => "Message:", :id => "textarea", :rows => "3" %>
    
      
    <%= f.submit :class => " btn btn-primary btn-large ", :value => "Send Message" %>
    
           
 
<% end %>
