<header class="jumbotron subhead" id="overview">  
  <h1> Epic <%= @category.name %> Holidays  </h1>      
</header>
 
 
           
   <br></br>
   
  <div class="subnav"> 
   <ul class="nav nav-pills">            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">All Types of Places <b class="caret"></b></a>
              <ul id="menu1" class="dropdown-menu">
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Hostels</a></li>
                <li><a href="#">B&B</a></li>               
                <li><a href="#">Vacation rental</a></li>
                <li><a href="#">Camp</a></li>
              </ul>
            </li>            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">All Countries <b class="caret"></b></a>
              <ul id="menu2" class="dropdown-menu">
                <li><a href="#">France</a></li>
                <li><a href="#">Portugal</a></li>
                <li><a href="#">Morocco</a></li>                
                <li><a href="#">Dom. Rep.</a></li>
              </ul>
            </li>            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> All Budgets <b class="caret"></b></a>
              <ul id="menu3" class="dropdown-menu">
                <li><a href="#">Budget</a></li>
                <li><a href="#">Semi-Lux</a></li>
                <li><a href="#">Lux</a></li>               
              </ul>
            </li>
          </ul>
       </div> 
    <br></br>
  
    
   <% for trip in @category.trips %> 
    
    <div class="span6">
      <ul class="thumbnails">
        <li class="span6">
          <div class="trip">
             <div class="caption">
              <h3><%= link_to trip.title, trip %> </h3>
              <p><%= trip.location %>  </p>
             <div class="price">        
             <p class="pull-right">  <h3> <%= trip.price %> </h3> /week  </p>
             
            </div>
          </div>

             <% medium_url = trip.medium_url %>
    	       <% if medium_url %>
    	       <%= image_tag medium_url %>
             <% end %>           
        </li>        
      </ul>
    </div>
    
   <% end %>
    
    
    <div style="clear:both;"></div>
    
   

 
 
 <br></br>
 
 
   	
  