<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  
 <div class="field">
    <%= f.label :continent_id %><br />
    <%= f.collection_select :continent_id, Continent.all, :id, :name %>
  </div>
  
 

<h4>New Files</h4>
  
  <%= f.fields_for :images do |image_fields| %>
 
  <% if image_fields.object.new_record? %>
 
  <p>
  <%= image_fields.file_field :image %>
  
  <% end %> 

<% end %>
   
  <h4>Old Files</h4>
    
  <%= f.fields_for :images do |image_fields| %>
  
  <% unless image_fields.object.new_record? %>
  
     <p>
     <%= link_to image_tag(image_fields.object.image.url(:thumb)), image_fields.object.image.url(:original) %>
      <%= image_fields.label :title, "Image Title" %>
<%= image_fields.text_field :title %>
     <%= image_fields.check_box :_destroy %>
     </p>
   <% end %>
  
  <% end %>

 <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
