<div class="container"> 
<footer class="footer">
 
 <div class="row">
  <div class="span7">
  <small>
   <p> Thrill Engine is All About Trips That Will Make You Feel Alive.  <%= link_to "The story so far →", about_path %> </p>
    Thrill Engine &copy; 2012  
    <%= link_to "FAQ", about_path %>
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FThrill-Engine%2F199223676806364&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px; margin-top:15px; " allowtransparency="true"></iframe>    
  </small>     
  </div>  	
  <div class="span5"> 
    <ul>      
      <li> Get in touch:  </li>
      <br></br>
      <li> <%= link_to image_tag("facebook.png"), 'http://www.facebook.com/pages/Thrill-Engine/199223676806364' %>  </li>
      <li> <%= link_to image_tag("twitter.png"), 'http://twitter.com/#!/theThrillEngine' %>  </li>
      <li> <%= link_to image_tag("vimeo.png"), 'https://vimeo.com/39621018' %>  </li>      
      <li> <%= link_to image_tag("tumblr.png"), 'http://thrillengine.tumblr.com/' %>  </li>
      <li> <%= link_to image_tag("pinterest.png"), 'http://pinterest.com/thrillengine' %>  </li>
    </ul>  
 </div>
</footer>
</div>



