<div class="container"> 
<footer class="footer">
 
 <div class="row">
  <div class="span4">
  <small>
   <p> Thrill Engine is All About Trips That Will Make You Feel Alive.  <%= link_to "The story so far →", about_path %> </p>
    Thrill Engine &copy; 2012  
    <%= link_to "Terms & Privacy", about_path %>    
  </small>     
  </div>
  <div class="span2">
     <ul>
      <li> Popular destinations:  </li>
      <li> <%= link_to "Morocco", "#" %>  </li>      
      <li> <%= link_to "Dominican Republic", '#' %>  </li>
      <li> <%= link_to "France", '#' %>  </li>
      <li> <%= link_to "Portugal", '#' %>  </li>
    </ul>
  </div>
  <div class="span2">
     <ul>
      <li> Thrills:  </li>
      <li> <%= link_to "Kiteboarding", "#" %>  </li>      
      <li> <%= link_to "Surfing", '#' %>  </li>
      <li> <%= link_to "Snowboard/Ski", '#' %>  </li>
    </ul>
  </div>	
  <div class="span4"> 
    <ul>      
      <li> Get in touch:  </li>
      <br></br>
      <li> <%= link_to image_tag("facebook.png"), 'http://www.facebook.com/pages/Thrill-Engine/199223676806364' %>  </li>
      <li> <%= link_to image_tag("twitter.png"), 'http://twitter.com/#!/theThrillEngine' %>  </li>
      <li> <%= link_to image_tag("vimeo.png"), 'https://vimeo.com/39621018' %>  </li>      
      <li> <%= link_to image_tag("tumblr.png"), 'http://thrillengine.tumblr.com/' %>  </li>
      <li> <%= link_to image_tag("pinterest.png"), 'http://pinterest.com/thrillengine' %>  </li>
    </ul>  
 </div>
</footer>
</div>



